---
layout: default
title: Search
permalink: /search/
---

<h1>search</h1>

<div id="search-results"></div>

<script>
  // すべての投稿データを JS から使えるようにする
  window.__POSTS__ = [
    {% for post in site.posts %}
    {
      "title": {{ post.title | jsonify }},
      "url": {{ post.url | relative_url | jsonify }},
      "date": "{{ post.date | date: "%Y-%m-%d" }}",
      "tags": {{ post.tags | jsonify }},
      "content": {{ post.content | strip_html | strip_newlines | jsonify }}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ];
</script>
